.headerText{
    padding: 10;
    font-family:"Playfair Display";
    font-size: 70px;
}
.content{
    max-width: 980px;
    padding-left: 60px;
    padding-right: 60px;
}
.column {
  flex: 50%;
  }
  
.row {
    display: flex;
  }